couchbase
python-dotenv
sentence-transformers
flask
langchain-aws
langchain-core
boto3

# Instead of using HuggingFace Text Embeddings Model
langchain-huggingface
# Use AWS Bedrock Titan Text Embeddings V2 Model
langchain-aws